@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Gamja+Flower&display=swap');

/* font-family: "Gaegu", sans-serif; */
/* font-family: "Gamja Flower", sans-serif; */

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F1F0E8;
}
.wrap {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(https://raw.githubusercontent.com/hyunju960429/testmallLink/refs/heads/main/%EB%A7%81%ED%81%AC%EB%AA%A8%EC%9D%8C%EB%B0%B0%EA%B2%BD.png) left;
    padding-top: 7vh;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}

.title {
    position: absolute;
    top: 15px;
    left: 10%;
    font-family: "Gaegu", sans-serif;
    color: #F3D0D7;
    font-size: 48px;
}


.linkWrap {
    position: absolute;
    left: 5vw;
    top: 11.5vh;
    width: 633px;
    height: 433px;
    font-family: "Gaegu", sans-serif;
    font-size: 25px;
    background-color: #333F0F;
    border: #A79277 solid 15px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 87px 75px 37px;
}

.linkWrap li {
    margin-bottom: 10px;
}

.linkWrap li a {
    position: relative;
    margin-bottom: 12px;
    display: block;
    color: #fff;
}

.linkWrap li a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #fff;
    transition: 0.3s;
}

.linkWrap li a:hover:after {
    width: 100%;
}

.cancle {
    text-align: center;
    margin-top: 50px;
}
.cancle a {
    display: inline-block;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #576949;
    border-radius: 15px;
}
